<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="../styles/default.css">
</head>
<body>
    <a class="btn-style-default" href="#title" id="stp-btn">Scroll to Top</a>

    <!--Dito yung sa title para sa name ng subject at group natin-->
    <div class="title spce" id="title">
        <div class="title-subject-name">
            <h1>INTEGRATIVE PROGRAMMING <br> AND TECHNOLOGIES 1</h1>
        </div>
        <div class="title-group-name">
            <h5>GROUP 9</h5>
        </div>
    </div>

    <center>
    <!--Dito yung sa navigation bar para sa listings-->
    <div class="navmenu spce" id="navmenu">
        <div class="navmenu-list">
            <div>
                <a class="" href="#members">
                    <button class="btn-list-style">
                        <i class="fa fa-solid fa-users"></i><br>
                        Members
                    </button>
                </a>
            </div>
            <div>
                <a class="" href="#profiles">
                    <button class="btn-list-style">
                        <i class="fa fa-solid fa-address-card"></i><br>
                        Profiles
                    </button>
                </a>
            </div>
            <div>
                <a class="" href="#accountslinks">
                    <button class="btn-list-style">
                        <i class="fa fa-solid fa-link"></i><br>
                        Accounts
                    </button>
                    
                </a>
            </div>  
            <div>
                <a class="" href="#about">
                    <button class="btn-list-style">
                        <span><b>?</b></span><br>
                        About 
                    </button>
                </a>
            </div>
        </div>
    </div>
    </center>

     <!--Dito yung division para sa Members-->
     <div class="members spce" id="members">
        <h1><b> MEMBERS:</b></h1>
        <div class="members-list">
            <div class="mem member-1">
                <a href="">
                    <div>m1</div>
                </a>
            </div>
            <div class="mem member-1">
                <a href="">
                    <div>m1</div>
                </a>
            </div>
            <div class="mem member-1">
                <a href="">
                    <div>m1</div>
                </a>
            </div>
        </div>
        <br><br>
        <div class="members-list">
            <div class="mem member-1">
                <a href="">
                    <div>m1</div>
                </a>
            </div>
            <div class="mem member-1">
                <a href="">
                    <div>m1</div>
                </a>
            </div>
            <div class="mem member-1">
                <a href="">
                    <div>m1</div>
                </a>
            </div>
        </div>
    </div>

    <!--Dito yung division para sa Profiles-->
    <div class="profiles spce" id="profiles">
        <h1><b> PROFILES:</b></h1>
    </div>

    <!--Dito yung division para sa Accounts-->
    <div class="accountslinks spce" id="accountslinks">
        <h1><b>ACCOUNTS:</b></h1>
    </div>

    <!--Dito yung division para sa About-->
    <div class="about spce" id="about">
        <h1><b>ABOUTS:</b></h1>
    </div>
</body>
</html>