/*START BODY*/
html {
    scroll-behavior: smooth;
}
body{
    /*background-image: url('https://mdbootstrap.com/img/new/standard/city/041.jpg');
    height: 100vh;*/
    background: #F7E4C9;
    margin: auto !important;
}
body{
    max-height: 100% !important;
    max-width: 100% !important;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 1px;
}
/*END BODY*/


/*START RANDOM*/
.btn-style-default{
    font-size: 1rem;
    border-radius: 1.5rem;
    text-align: justify;
    background: #987555;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.spce{
    margin: 1%;
}
#hr-styles{
    color: #F7E4C9;
}
/*END RANDOM*/

/*START Scroll to Top*/
#stp-btn{
    float: right;
    position: fixed;
    right: .5rem;
    bottom: .5rem;
    
    border: 1px solid #000;
    box-shadow: 0 4px 1rem rgba(134, 133, 133, 0.5);
}
#stp-btn:hover{
    background-color: #D1B48C;
    cursor: pointer;
}
/*END Scroll to Top*/

/*START TITLE*/
.title{
    margin-top: 1%;
    padding: 8% 10%;
    height: 100%;
    max-width: 100%;

    text-align: center;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title-subject-name{
    font-size: 2.3vw;
}
.title-group-name{
    font-size: 2.3vw;
}
/*END TITLE*/

/*START NAVMENU*/
.navmenu{
    max-width: 90%;
}
.navmenu-list {
    margin-top: 1%;
    text-align: justify;
    align-content: space-evenly;
    gap: 5vw;
    background-color: #F7E4C9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.navmenu-list .btn-list-style {
    padding: 1.5rem;
    background-color: #987555;
    text-align: center;
    margin: 1rem;
    width: 10rem;
    color: #fff;

    border-radius: 1rem;
    border: 1px solid #000;
    box-shadow: 0 4px 1rem rgba(134, 133, 133, 0.5);
}
.navmenu-list .btn-list-style:hover {
    background-color: #D1B48C;
    cursor: pointer;
}
.navmenu-list .btn-list-style a{
    text-decoration: none;
    color: #fff;
}
/*END NAVMENU*/

/*START MEMBERS*/
.members{
    margin-top: 1%;
    padding: 5% 10%;
    height: 100%;
    max-width: 100%;

    text-align: center;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.members-list {
    margin-top: 1%;
    text-align: center;
    align-content: space-evenly;
    gap: 8vw;
    background-color: #F7E4C9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.members-list .mem{
    max-height: 100% !important;
    width: 15rem;
    height: 15rem;
    border: .2rem solid #664228;    
    border-radius: 100%;
    background: #BA9976;
}
/*END MEMBERS*/

/*START PROFILES*/
.profiles{
    margin-top: 1%;
    padding: 5% 10%;
    height: 100%;
    max-width: 100%;

    text-align: center;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profiles-img{
    border-radius: 1.5rem;
    border: #664228 .4rem solid;
    box-shadow: 0 4px 8px rgb(92, 92, 92);
    max-height: 100% !important;
    display: inline-flex;
    float: left;
    width: 15rem;
    height: 15rem;
}
.profiles-fn{
}
.profiles-link{
}
.profiles-desc{
    text-align: justify;
    max-height: 100% !important;
    width: 15rem;
    height: 15rem;
}
/*END PROFILES*/

/*START ACCOUNTS*/
.accountslinks{
    margin-top: 1%;
    padding: 5% 10%;
    height: 100%;
    max-width: 100%;

    text-align: center;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*END ACCOUNTS*/

/*START ABOUTS*/
.about{
    margin-top: 1%;
    padding: 5% 10%;
    height: 100%;
    max-width: 100%;

    text-align: center;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*END ABOUTS*/

/*START FOOTERR*/
.footerr{
    margin: 1% auto auto auto;
    max-width: 100% !important;
    height: 4rem;
    bottom: 0;
    background: #664228;
    text-align: center;
    border-top: 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #F7E4C9;
}
/*END FOOTERR*/